
*.vsidx
*.ipch
*.db
*.lock
.vs/simpleLanguage/v17/.suo
*.vcxproj
*.filters
*.user
*.sln
.vs/ProjectSettings.json
.vs/simpleLanguage/v17/Browse.VC.db-shm
.vs/simpleLanguage/v17/Browse.VC.db-wal
.vs/simpleLanguage/v17/Browse.VC.opendb
.vs/slnx.sqlite
simpleLanguage/x64/Debug/main.obj
simpleLanguage/x64/Debug/simpleLanguage.exe.recipe
simpleLanguage/x64/Debug/simpleLanguage.ilk
simpleLanguage/x64/Debug/simpleLanguage.log
simpleLanguage/x64/Debug/simpleLanguage.obj
simpleLanguage/x64/Debug/simpleLanguage.tlog/CL.command.1.tlog
simpleLanguage/x64/Debug/simpleLanguage.tlog/CL.read.1.tlog
simpleLanguage/x64/Debug/simpleLanguage.tlog/CL.write.1.tlog
simpleLanguage/x64/Debug/simpleLanguage.tlog/link.command.1.tlog
simpleLanguage/x64/Debug/simpleLanguage.tlog/link.read.1.tlog
simpleLanguage/x64/Debug/simpleLanguage.tlog/link.write.1.tlog
simpleLanguage/x64/Debug/simpleLanguage.tlog/simpleLanguage.lastbuildstate
simpleLanguage/x64/Debug/vc143.idb
simpleLanguage/x64/Debug/vc143.pdb
x64/Debug/simpleLanguage.exe
x64/Debug/simpleLanguage.pdb
*.json
*.log
*.txt
x64/Debug/example.simple
*.obj
simpleLanguage/x64/Release/simpleLanguage.tlog/CL.command.1.tlog
simpleLanguage/x64/Debug/simpleLanguage.tlog/Microsoft.Build.CPPTasks.CL.write.1.tlog
simpleLanguage/x64/Debug/simpleLanguage.tlog/Microsoft.Build.CPPTasks.CL.read.1.tlog
simpleLanguage/x64/Debug/simpleLanguage.tlog/lld-link.write.1.tlog
simpleLanguage/x64/Debug/simpleLanguage.tlog/lld-link.read.1.tlog
simpleLanguage/x64/Debug/simpleLanguage.tlog/lld-link.command.1.tlog
simpleLanguage/x64/Debug/simpleLanguage.tlog/clang-cl.command.1.tlog
simpleLanguage/x64/Debug/simpleLanguage.tlog/CL.21716.write.1.tlog
simpleLanguage/x64/Release/simpleLanguage.tlog/simpleLanguage.lastbuildstate
simpleLanguage/x64/Release/simpleLanguage.tlog/unsuccessfulbuild
simpleLanguage/x64/Release/vc143.pdb
